extends layout

block content
  header
    .header_block_zero
    .header_block_first
      h3.company_name CryptoNetwork
    .header_block_second
      input.login_register_button(type='button' onclick="location.href='/login';" value='Login')
    .header_block_third
      input.login_register_button(type='button' onclick="location.href='/register';" value='Register')
    .header_block_forth
  .main
    h1 News

