extends layout

block content
  header
    .header_block_zero
    .header_block_first
      h3.company_name CryptoNetwork
    .header_block_for_menu
      ul.menu
        li
          a(href='#') #{name}
          ul
            li
              a.button_in_menu(href='/profile') Profile
            li
              a.button_in_menu(href='/logout') Sign Out
    .header_block_forth
  .main
    h1 News
